.container,
input[type="file"] {
    background: #121212;
}

.column {
    border: #3b3c3e;
}

#console {
    background: #222222;
    border: #3b3c3e;
}

input[type="file"] {
    color: #fff;
    border: 1px solid #3b3c3e;
}

input[type=file]::-webkit-file-upload-button,
input[type=file]::file-selector-button {
    background: #1f2021;
    color: #fff;
}

input[type=file]:hover::-webkit-file-upload-button,
input[type=file]:hover::file-selector-button {
    background-color: #272a2c;
}

div.Buttons>button {
    background: transparent;
}

div.Buttons>button:hover {
    background: #272a2c;
}

.workplace::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 75px;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #ff3d00 0%, #0400ff 100%);
    transform: scale(1, 1);
    filter: blur(20px);
    opacity: 0.75;
    transition: opacity 0.3s;
    border-radius: inherit;
}

.workplace::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.header>span:nth-child(1) {
    filter: brightness(1.5);
}