@font-face {
    font-family: JetBrainsMono;
    src: url(../assets/fonts/JetBrainsMono-Regular.woff2) format('woff2');
    z-index: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JetBrainsMono, 'Courier New', Courier, monospace;
}

html {
    width: 100%;
    height: 100%;
    overflow: overlay;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 17px;
    display: block;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    display: block;
    background: #495670;
    background-clip: padding-box;
    border-width: 20px 7px 20px 7px;
    border-style: solid;
    border-color: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::selection {
    background: #d7d4f0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: overlay;
}

.container,
.row {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.container {
    position: fixed;
}

.row {
    height: calc(100vh - 89px) !important;
}

.playground {
    left: 15px;
    border: 1px solid #dee2e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.playground-console {
    right: 15px;
}

.header {
    margin: 16px;
    font-size: 32px;
    font-weight: 600;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1215px) {
    .header {
        font-size: 24px;
    }

    ;
}

@media (max-width: 1046px) {
    .header {
        font-size: 20px;
    }

    ;
}

.header>span {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 10px;
}

.header>span>img {
    width: 43px;
    height: 43px;
    position: relative;
}

.header>span:nth-child(1) {
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#console {
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: overlay;
    border: 1px solid #dee2e6 !important;
    padding: 1rem !important;
}

/* Hover effect for console messages */
.console-message:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.log {
    color: #31ad31;
}

.error {
    color: #dc3545;
}

.msg {
    color: #007bff;
}

#code {
    display: none;
}

.CodeMirror {
    height: 100%;
    border-radius: 10px;
    border: none;
}

.CodeMirror-scroll {
    border-radius: 10px;
    border: none;
}

div.CodeMirror-gutters {
    opacity: 0;
}

pre.CodeMirror-line {
    font-family: 'Courier New', Courier, monospace !important;
}


button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    overflow: visible;
    text-transform: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

textarea {
    overflow: auto;
    resize: none;
}

.container {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    padding: 0 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    height: calc(100vh - 89px) !important;
    width: calc(50vw - 22.5px);
    position: absolute;
}

label {
    display: inline-block;
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type=file] {
    display: block;
    width: 100%;
    height: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    overflow: hidden;
}

input[type=file]:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

input[type=file]::-webkit-file-upload-button,
input[type=file]::file-selector-button {
    -webkit-appearance: button;
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    -webkit-margin-end: .75rem;
    margin-inline-end: .75rem;
    color: #212529;
    background-color: #f8f9fa;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input[type=file]:hover::-webkit-file-upload-button,
input[type=file]:hover::file-selector-button {
    background-color: #e9ecef;
}

.button {
    cursor: pointer;
    height: 100%;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (prefers-reduced-motion:reduce) {
    .button {
        transition: none
    }

    ;
}

.button:hover {
    color: #212529;
    text-decoration: none;
}

.button:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.primary-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.primary-button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.primary-button:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5);
}

.primary-button:active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.primary-button:active:focus {
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5);
}

.primary-button:disabled {
    color: #fff;
    background-color: #0057b3;
    border-color: #005cbf;
    cursor: not-allowed;
}

.secondary-button {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.secondary-button:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.secondary-button:focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 .2rem rgba(130, 138, 145, .5);
}

.secondary-button:active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.secondary-button:active:focus {
    box-shadow: 0 0 0 .2rem rgba(130, 138, 145, .5);
}

.display-button,
.clear-button {
    height: min-content;
    position: absolute;
    z-index: 999;
    top: 90px;
}

.display-button {
    left: calc(100vw - 112.75px);
}

.clear-button {
    left: calc(100vw - 184.5px);
}